.forgot-password-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.forgot-password-image{
    width:450px;
    height:auto;
    margin-right:60;
}
@media only screen and (max-width: 450px) {
    .forgot-password-container{
        flex-direction: column;
        margin-top: 60px;
        justify-content: flex-start;
    }
    .forgot-password-image{
        width:250px;
        height:auto;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    .forgot-password-form{
        margin:30px ;
        width: 90%;
        
    }

}