.button{
    width: 250px;
    height: 50px;
    font-family:'Sofia Sans';
    font-weight: 600;
    border-radius: 35px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.action-btn{
    border: none;
    color:white;
    background-color: #518BFA;
}
.action-btn-outline{
    border: 1px solid var(--blue);
    color:var(--blue);
    background-color: transparent;
}
.flatButton{
    width: 100%;
    height:60px;
    color:white;
    background-color:#6C63FF;
    border-radius: 10px;
    margin-top: 30px;
}