.navbar{
    display: flex;
    align-items: center;
    padding-left:var(--base-margin);
    padding-right:var(--base-margin);
    padding-top:calc(var(--base-margin)/ 2);
    padding-bottom:calc(var(--base-margin)/ 2);

}
.navbar-menu{
    width: 100%;
    display: flex;
    justify-content:flex-end;
    
}
.navbar-menu li{
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 500;
    list-style: none;
    cursor: pointer;
    position: relative;
}
.navbar-menu li:hover{
    color:var(--blue);
}
.navbar-menu li:hover::after{
    content: "";
    position:absolute;
    left:0;
    top: 35px;
    width: 100%;
    height:5px;
    border-radius: 35px;
    background-color:var(--blue);
}
.link-active{
    color:var(--blue)
}
.link-active::after{
    content: "";
    position:absolute;
    left:0;
    top: 35px;
    width: 100%;
    height:5px;
    border-radius: 35px;
    background-color:var(--blue);
}
.navbar-menu li:last-child{
    margin-right: 55px;
}

.navbar-mobile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar-mobile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:30px;
}
.ham-menu{
    border: 1px solid #518BFA;
    padding: 10px;
    border-radius: 5px;
}

.navbar-menu-mobile{
    flex-direction: column;
    align-items: center;
}
.navbar-menu-mobile li:first-child{
    margin-top: 0px;
}
#get-started-mobile{
    margin-top: 40px;
    margin-bottom: 40px;
}
.navbar-menu-mobile li{
    margin:0px;
    margin-top: 45px;
}
.navbar-menu-mobile li:last-child{
    margin-bottom: 45px;
}
@media only screen and (max-width: 940px) {
    .navbar{
        flex-direction: column;
    }
    .navbar-menu{
        justify-content: center;
        margin-top: 40px;
        align-items: center;
    }
}
@media only screen and (max-width: 950px) {
    #get-started-button-desktop{
        margin-top: 40px;
    }
}

