.admin-category{
    display: flex;
    justify-content: space-around;
}
.admin-select{
    width: 100% !important;
    margin-left: 0px !important;
}
.admin-item-container{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 350px;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}